<a href="#" class="resources-block__item">
    <img src={{ resource.link_to_img }} alt={{ resource.resource_header }} class="resource_image-link" data-resource_id={{ resource.resource_id }}>
    <h3>{{ resource.resource_header }}</h3>
    <p>{{ resource.resource_text }}</p>
</a>