<div class="resources__block_content">
    <h2 class="resources__block_content__topic">{{ content.topic }}</h2>
    <div class="resources__block_content__line"></div>
    <img class="resources__block_content__img" src={{ content.link_to_img }} alt={{ content.topic }} >
    <div class="resources__block_content__text-block">
        <h3 class="resources__block__header">{{ content.header }}</h3>
        <p class="resources__block__text">{{ content.text }}</p>
    </div>
</div>